* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.logo { 

    max-width: 70%;
    position: fixed;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);

}