* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(./wallpaper.jpg);
}

.center { 
    position: fixed;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
}

.logo { 

    max-width: 70%;
}

footer a {
    color: white;
    text-decoration: none;
}